@import 'tailwindcss';

@font-face {
	font-family: 'Kumbh Sans';
	src: url('./assets/fonts/kumbhsans-bold.woff2'),
		url('./assets/fonts/kumbhsans-bold.woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Kumbh Sans';
	src: url('./assets/fonts/kumbhsans-regular.woff2'),
		url('./assets/fonts/kumbhsans-regular.woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@theme {
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
	--color-orange: hsl(26, 100%, 55%);
	--color-pale-orange: hsl(25, 100%, 75%);
	--color-dark-blue: hsl(220, 13%, 13%);
	--color-dark-grayish-blue: hsl(219, 9%, 45%);
	--color-grayish-blue: hsl(220, 14%, 75%);
	--color-light-grayish-blue: hsl(223, 64%, 98%);

	--breakpoint-sm: 695px;
}

@layer base {
	body {
		font-family: 'Kumbh Sans', sans-serif;
		font-size: 16px;
	}
}

@layer components {
	.prv-nxt-btn {
		@apply absolute top-1/2 bg-white w-10 h-10 content-center rounded-full cursor-pointer;
	}

	.nav-list {
		@apply sm:pb-7 sm:border-b-transparent sm:border-b-3 cursor-pointer sm:hover:border-b-orange;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center;
	}
}
